body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

canvas {
    display: block;
    background-color: #2b2b2b;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('assets/fonte.ttf') format('truetype');
}